<mat-card class="company-form-card">
  <h2>{{ isEditMode ? 'Editar empresa' : 'Nova empresa' }}</h2>
  <form [formGroup]="companyForm" (ngSubmit)="onSubmit()" class="form-grid">
    <mat-form-field appearance="outline">
      <mat-label>Nome fantasia</mat-label>
      <input matInput formControlName="nomeFantasia" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Razao social</mat-label>
      <input matInput formControlName="razaoSocial" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>CNPJ</mat-label>
      <input matInput formControlName="cnpj" />
    </mat-form-field>

    <div class="actions">
      <button mat-button type="button" (click)="onCancel()">Cancelar</button>
      <button mat-raised-button color="primary" type="submit">Salvar</button>
    </div>
  </form>
</mat-card>
