spring:
  datasource:
    url: jdbc:postgresql://db:5432/ponto_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: create-drop  
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: true
  
  redis:
    host: redis
    port: 6379

server:
  port: 8080
  address: 0.0.0.0

logging:
  level:
    com.ponto: DEBUG
    org.hibernate.SQL: DEBUG